*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  min-width: 1600px;
}

body {
  min-width: 1600px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #4E4E4E;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  border: 1px solid transparent;
  vertical-align: middle;
}

.btn--blue {
  display: inline-block;
  padding: 14px 47px;
  background-color: #00AFDB;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
}

.btn--blue:focus,
.btn--blue:hover {
  background-color: #009CC2;
}

.btn--blue:active {
  opacity: 0.7;
}

.main-wrapper {
  width: 1062px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page-header {
  width: 100%;
  background-color: #000;
  margin: 0 auto;
}

.main-nav__list {
  width: 590px;
  margin: 0 auto;
  margin-top: 17px;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.main-nav__ttem--logo {
  margin-right: 10px;
}

.main-nav__link {
  display: block;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 140%;
  align-items: center;
  color: #fff;
  opacity: 0.8;
  position: relative;
}

.main-nav__link:not(.main-nav__link--logo):before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: all 0.5s;
}

.main-nav__link:not(.main-nav__link--logo):focus:before,
.main-nav__link:not(.main-nav__link--logo):hover:before {
  transform: scaleX(1);
}

.main-nav__link--logo {
  opacity: 1;
}

.main-nav__link:active {
  opacity: 0.5;
}

.your-life {
  width: 100%;
  background-image: url("../assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: 1600px auto;
  background-position: center -75px;
  background-color: #000;
  padding-top: 154px;
  padding-bottom: 75px;
}

.main-wrapper--your-life {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.your-life__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

.your-life__slogan {
  width: 504px;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #fff;
  margin-top: 22px;
  margin-bottom: 30px;
}

.social-links {
  width: 250px;
  margin: 0 auto;
  margin-top: 183px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-link {
  margin-bottom: 10px;
  transition: all 0.5s;
}

.social-link:not(:first-child) {
  margin-left: 30px;
}

.social-link:focus,
.social-link:hover {
  transform: scale(1.5);
  outline: none;
}

.social-link:focus path,
.social-link:hover path {
  fill: #00AFDB;
}

.social-link:focus circle,
.social-link:hover circle {
  stroke: #00AFDB;
}

.social-link:active {
  opacity: 0.5;
}

.rappresent {
  padding-top: 120px;
  padding-bottom: 135px;
}

.rappresent__left {
  width: 405px;
  margin-right: 247px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.rappresent__title {
  width: 380px;
  margin-top: 0px;
  margin-bottom: 9px;
}

.rappresent__title,
.rappresent__text {
  text-align: left;
}

.rappresent__text {
  margin-top: 10px;
  margin-bottom: 30px;
}

.our-community {
  position: relative;
  padding-top: 117px;
  padding-bottom: 157px;
  background-color: #F5F6F7;
  overflow-x: hidden;
}

.main-wrapper--our-community {
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.our-community__info {
  width: 300px;
  margin-right: 140px;
  padding-top: 37px;
}

.our-community__title {
  margin-top: 14px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
}

.our-community__text {
  width: 300px;
}

.our-community__slider {
  position: absolute;
  z-index: 100;
  left: 44%;
  top: 100px;
}

.slider__controls {
  position: relative;
  width: 115px;
  top: -19px;
  left: 531px;
}

.slider__button {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.slider__button--prev {
  left: 20px;
}

.slider__button--next {
  top: 0px;
  right: 6px;
}

.slider__button--prev::before,
.slider__button--next::after {
  content: "";
  position: absolute;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 9px;
  height: 14px;
  top: 1px;
}

.slider__button--prev::before {
  background-image: url("../assets/img/arrow-left.png");
  left: -4px;
}

.slider__button--next::after {
  background-image: url("../assets/img/arrow-right.png");
  left: 2px;
}

.slider__button--prev:focus::before,
.slider__button--prev:hover::before,
.slider__button--next:focus::after,
.slider__button--next:hover::after {
  opacity: .5;
}

.slider__items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}

.slider__item {
  margin-right: 30px;
}

.implement {
  padding-top: 120px;
  padding-bottom: 136px;
}

.main-wrapper--implement {
  justify-content: flex-start;
}

.implement__title {
  margin: 0;
}

.implement__right {
  width: 410px;
  margin-left: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.implement__text {
  width: 407px;
  text-align: left;
  margin-bottom: 27px;
  margin-top: 23px;
}

.sign-up {
  padding-top: 180px;
  padding-bottom: 217px;
  background-image: url("../assets/img/sign-up-bg.jpg");
  background-repeat: no-repeat;
  background-size: 1600px auto;
  background-position: center 0px;
  background-color: #000;
}

.sign-up__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

.sign-up__form {
  border: 1px solid transparent;
  padding-top: 8px;
}

.sign-up__form-wrapper {
  width: 406px;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.sign-up__input {
  width: 406px;
  padding: 13px;
  padding-left: 21px;
}

.sign-up__input::placeholder {
  color: #373737;
  opacity: 0.5;
}

.sign-up__input:focus {
  outline: none;
  border: 2px solid #00AFDB;
}

.sign-up__button {
  position: absolute;
  width: 66px;
  height: 45px;
  top: 0px;
  right: 0px;
  padding: 0;
  outline: none;
  background-image: url("../assets/img/check-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 14px;
}

.sign-up__button:focus,
.sign-up__button:hover {
  cursor: pointer;
  background-size: 25px auto;
}

.download {
  padding-top: 100px;
  padding-bottom: 177px;
  background-color: #F5F6F7;
}

.main-wrapper--download {
  flex-direction: column;
}

.download__text {
  width: 485px;
  margin-top: 4px;
  margin-bottom: 28px;
}

.download__link {
  width: 186px;
  padding-top: 15px;
  padding-left: 15px;
  position: relative;
  text-align: left;
}

.download__link--apple-store {
  margin-right: 26px;
  padding-left: 17px;
}

.download__link::before {
  content: "";
  position: absolute;
  z-index: 3;
  width: 55px;
  height: 46px;
  top: 0;
  right: 0;
  background-color: #009CC2;
}

.download__link--apple-store::after {
  content: "";
  background-image: url("../assets/img/icon-apple.png");
  position: absolute;
  z-index: 4;
  width: 17px;
  height: 20px;
  top: 10px;
  right: 21px;
}

.download__link--play-market::after {
  content: "";
  background-image: url("../assets/img/icon-android.png");
  position: absolute;
  z-index: 4;
  width: 20px;
  height: 23px;
  top: 9px;
  right: 18px;
}

.download__link--apple-store:focus::after,
.download__link--apple-store:hover::after,
.download__link--play-market:focus::after,
.download__link--play-market:hover::after {
  transform: scale(1.3);
}

.page-footer {
  padding-top: 57px;
  padding-bottom: 80px;
  background-color: #000;
}

.page-footer__wrapper {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-footer__links {
  width: 236px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-footer__link {
  padding: 10px;
  color: #fff;
  position: relative;
}

.page-footer__link:first-child {
  padding-left: 0;
}

.page-footer__link:last-child {
  padding-right: 0;
}

.page-footer__link:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 10px;
  top: 15px;
  right: -11px;
  background-color: #4E4E4E;
}

.page-footer__logo {
  margin-right: 67PX;
  margin-top: 3px;
}

.page-footer__copyright {
  color: #818181
}